<!--Usando nunjcks tamplate engine para criar herança-->
    {% extends "partials/layout.html" %}

    {% set pageId = "page-home" %}

   {% block styles %}
   <link rel="stylesheet" href="/styles/home.css"> 
   <link rel="stylesheet" href="/styles/modal.css"> 
   <link rel="stylesheet" href="/styles/responsive-home.css">
    {% endblock styles %}

    {% block content %}
        <div class="content">

            <header>
                <img src="./assets/icones/logo.svg" alt="Logomarca">
                <a href="create-point">
                    <span></span>
                    Cadastre um ponto de coleta</a>
            </header>

            <main>
                <h1>Seu marketplace de coleta de resíduos</h1>
                <p>Ajudamos pessoas a encontrarem um ponto de coleta eficiente</p>
                <a href="#"><span></span><strong>Pesquisar pontos de coleta</strong></a>
            </main>

        </div>
    {% endblock content %}

      <!--Usando tamplate Engine do nunjucks-->
    {% block modal %}
        {% include "partials/modal.html" %}
    {% endblock modal %}

    {% block scripts %}
      <script src="scripts/index.js"></script>
    {% endblock scripts %}

